<div class="header-block-parameter">
    <div class="field-row-parameter">
        <RadzenLabel Text="Q-DHW"/>
        <RadzenTextBox Style="width:100%" ReadOnly="true"/>
    </div>
    <div class="field-row-parameter">
        <RadzenLabel Text="P-DHW"/>
        <RadzenTextBox Style="width:100%" ReadOnly="true"/>
    </div>
    <div class="field-row-parameter">
        <RadzenLabel Text="DHW IN"/>
        <RadzenTextBox Style="width:100%" ReadOnly="true"/>
    </div>
    <div class="field-row-parameter">
        <RadzenLabel Text="T-DHW OUT"/>
        <RadzenTextBox Style="width:100%" ReadOnly="true"/>
    </div>
    <div class="field-row-parameter">
        <RadzenLabel Text="tDHW котла"/>
        <RadzenTextBox Style="width:100%" ReadOnly="true"/>
    </div>
</div>

@code {
}
