<div class="header-block-parameter">
    <div class="field-row-parameter">
        <RadzenLabel Text="CO"/>
        <RadzenTextBox Style="width:100%" ReadOnly="true"/>
    </div>
    <div class="field-row-parameter">
        <RadzenLabel Text="CO2"/>
        <RadzenTextBox Style="width:100%" ReadOnly="true"/>
    </div>
    <div class="field-row-parameter">
        <RadzenLabel Text="Gas_POG1"/>
        <RadzenTextBox Style="width:100%" ReadOnly="true"/>
    </div>
    <div class="field-row-parameter">
        <RadzenLabel Text="P атм"/>
        <RadzenTextBox Style="width:100%" ReadOnly="true"/>
    </div>
</div>

@code {
}
