<div class="header-block-parameter">
    <div class="field-row-parameter">
        <RadzenLabel Text="Gas_P"/>
        <RadzenTextBox Style="width:100%" ReadOnly="true"/>
    </div>
</div>

@code {
}
