<div class="header-block-parameter">
    <div class="field-row-parameter">
        <RadzenLabel Text="T-GAS"/>
        <RadzenTextBox Style="width:100%" ReadOnly="true"/>
    </div>
    <div class="field-row-parameter">
        <RadzenLabel Text="CH.DeltaTemp"/>
        <RadzenTextBox Style="width:100%" ReadOnly="true"/>
    </div>
    <div class="field-row-parameter">
        <RadzenLabel Text="DHW.DeltaTemp"/>
        <RadzenTextBox Style="width:100%" ReadOnly="true"/>
    </div>
</div>

@code {
}
