.step-history-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.step-history-grid .grid-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    position: relative;
}

.step-history-grid .last-test-header {
    text-align: center;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.step-history-grid .toolbar-buttons {
    display: flex;
    gap: 8px;
}

.step-history-grid .toolbar-buttons ::deep .rz-button {
    font-size: 20px;
    padding: 12px 24px;
}

.step-history-grid ::deep .rz-grid-table td {
    padding: 0 !important;
}

.step-history-grid ::deep .rz-cell-data {
    padding: 0 !important;
}

.step-history-grid ::deep .cell-container {
    display: flex;
    align-items: center;
    padding: 0.625rem 0.5rem;
    box-sizing: border-box;
    width: 100%;
}

.step-history-grid ::deep .cell-container.error {
    background-color: red;
}

.step-history-grid ::deep .cell-container.success {
    background-color: #28a745;
}

.step-history-grid ::deep .cell-container.running {
    background-color: #ffdd00;
}

.step-history-grid ::deep .cell-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    min-width: 0;
}
