@using Final_Test_Hybrid.Components.Errors

<div class="results-container">
    <div class="grid-section">
        <h3>Результаты тестов</h3>
        <TestResultsGrid />
    </div>
    <div class="grid-section">
        <h3>История ошибок</h3>
        <ErrorHistoryGrid />
    </div>
</div>
