@using Final_Test_Hybrid.Components.Errors

<div class="results-tabs-shell">
    <RadzenTabs RenderMode="TabRenderMode.Client"
                Style="height: 100%; width: 100%"
                class="results-tabs">
        <Tabs>
            <RadzenTabsItem Text="История шагов теста">
                <div class="grid-container">
                    <StepHistoryGrid />
                </div>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Результаты тестов">
                <div class="grid-container">
                    <TestResultsGrid/>
                </div>
            </RadzenTabsItem>
            <RadzenTabsItem Text="История ошибок">
                <div class="grid-container">
                    <ErrorHistoryGrid/>
                </div>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Таймеры">
                <div class="grid-container">
                    <ActiveTimersGrid/>
                </div>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
</div>
