.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.last-test-header {
    text-align: center;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Увеличенный размер Badge (OK/NOK) */
::deep .rz-badge {
    font-size: 1rem;
    padding: 0.5rem 1rem;
}
