@using Final_Test_Hybrid.Components.Overview
@using Final_Test_Hybrid.Services.OpcUa
@using Final_Test_Hybrid.Services.OpcUa.Connection
@inject PlcSubscriptionState SubscriptionState
@inject OpcUaConnectionState ConnectionState
@implements IDisposable

<div class="io-editor-container">
    <div class="tabs-shell">
        <RadzenTabs RenderMode="TabRenderMode.Client" class="io-editor-tabs">
            <Tabs>
                <RadzenTabsItem Text="AI Calibration">
                    <AiCallCheck IsReadOnly="false" />
                </RadzenTabsItem>
                <RadzenTabsItem Text="RTD Calibration">
                    <RtdCalCheck IsReadOnly="false" />
                </RadzenTabsItem>
                <RadzenTabsItem Text="PID Regulator">
                    <PidRegulatorCheck IsReadOnly="false" />
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </div>
</div>

@code {
    private bool _disposed;

    protected override void OnInitialized()
    {
        SubscriptionState.OnStateChanged += HandleStateChanged;
        ConnectionState.ConnectionStateChanged += HandleConnectionChanged;
    }

    private void HandleStateChanged()
    {
        if (_disposed)
        {
            return;
        }
        _ = InvokeAsync(StateHasChanged);
    }

    private void HandleConnectionChanged(bool isConnected)
    {
        if (_disposed)
        {
            return;
        }
        _ = InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        _disposed = true;
        SubscriptionState.OnStateChanged -= HandleStateChanged;
        ConnectionState.ConnectionStateChanged -= HandleConnectionChanged;
    }
}
