@using Final_Test_Hybrid.Components.Engineer

<div class="main-settings-dialog-content">
    <div class="main-settings-dialog-stack">
        <SwitchMes />
        <SwitchExcelExport />
        <SwitchInterruptReason />
        <OperatorAuthorizationQr />
        <AdminAuthorizationQr />
    </div>
</div>
