.password-dialog {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
}

::deep .rz-password input {
    font-size: 25px;
    color: black;
    padding: 12px;
}

.dialog-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

::deep .dialog-buttons .rz-button {
    font-size: 16px;
    color: #ffffff !important;
    padding: 12px 24px;
    min-width: 80px;
}

.error-message {
    color: #d32f2f;
    font-size: 14px;
}
