<div class="failed-dialog">
    <div class="info-message">
        Не удалось скопировать @FailedItems.Count @ItemWord:
    </div>
    <RadzenDataGrid Data="@FailedItems" TItem="string"
                    AllowPaging="false"
                    AllowSorting="false">
        <Columns>
            <RadzenDataGridColumn TItem="string" Title="@ColumnTitle" MinWidth="300px">
                <Template Context="itemName">
                    @itemName
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
    <div class="dialog-buttons">
        <RadzenButton Text="Закрыть" Icon="close"
                      Click="@OnClose"
                      ButtonStyle="ButtonStyle.Primary" />
    </div>
</div>

@code {
    [Parameter]
    public List<string> FailedItems { get; set; } = [];
    [Parameter]
    public string ItemWord { get; set; } = "элементов";
    [Parameter]
    public string ColumnTitle { get; set; } = "Название";
    [Inject]
    public required DialogService DialogService { get; set; }

    private void OnClose()
    {
        DialogService.Close();
    }
}
