<div class="field-row field-row-middle">
    <RadzenLabel Text="Тип котла"/>
    <RadzenTextBox Style="width:100%" ReadOnly="true"/>
</div>
<div class="field-row field-row-middle">
    <RadzenLabel Text="Серийный номер"/>
    <RadzenTextBox Style="width:100%"/>
</div>