<div class="field-row">
    <RadzenLabel Text="Номер заказа"/>
    <RadzenTextBox Style="width:100%"/>
</div>
<div class="field-row">
    <RadzenLabel Text="Котлов в заказе"/>
    <RadzenTextBox Style="width:100%"/>
</div>
<div class="field-row">
    <RadzenLabel Text="Котлов сделано"/>
    <RadzenTextBox Style="width:100%"/>
</div>