@using Final_Test_Hybrid.Services.Main
@inject MessageService MessageService
@implements IDisposable

<div class="message-helper-container">
    <RadzenTextArea Value="@MessageService.CurrentMessage"
                    Rows="1"
                    ReadOnly="true" />
</div>

@code {
    protected override void OnInitialized()
    {
        MessageService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        MessageService.OnChange -= StateHasChanged;
    }
}
