<div class="message-helper-container">
    <RadzenTextArea @bind-Value="@Value"
                    Rows="1"
                    ReadOnly="@ReadOnly" />
</div>

@code {
    [Parameter] public string Value { get; set; } = "";
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public bool ReadOnly { get; set; } = true;
}
