<div class="buttons-row">
    <RadzenButton Text="Авторизация оператора"
                  Icon="person"
                  ButtonStyle="ButtonStyle.Primary"
                  Style="background-color: #1e5fcf"/>
    <RadzenButton Text="Выйти"
                  Icon="logout"
                  ButtonStyle="ButtonStyle.Light"
                  Style="color: black"/>
</div>
<div class="field-row field-row-operator">
    <RadzenLabel Text="Имя оператора"/>
    <RadzenTextBox Style="width:100%"/>
</div>