@using Final_Test_Hybrid.Services.SpringBoot.Shift
@inject ShiftState ShiftState
@implements IDisposable

<div class="field-row">
    <RadzenLabel Text="Номер смены"/>
    <RadzenTextBox Style="width:100%"
                   Value="@_shiftNumber?.ToString()"
                   ReadOnly="true"/>
</div>

@code {
    private int? _shiftNumber;

    protected override void OnInitialized()
    {
        _shiftNumber = ShiftState.ShiftNumber;
        ShiftState.ShiftNumberChanged += OnShiftNumberChanged;
    }

    private async void OnShiftNumberChanged(int? shiftNumber)
    {
        try
        {
            _shiftNumber = shiftNumber;
            await InvokeAsync(StateHasChanged);
        }
        catch
        {
            // ignored - component may be disposed
        }
    }

    public void Dispose()
    {
        ShiftState.ShiftNumberChanged -= OnShiftNumberChanged;
    }
}