.test-sequense-grid {
    display: flex;
    flex: 1;
    min-height: 0;
    margin-top: -5px;
}

.test-sequense-grid ::deep .rz-data-grid {
    overflow-x: hidden !important;
}

.test-sequense-grid ::deep .rz-data-grid-data {
    overflow-x: hidden !important;
}

.test-sequense-grid ::deep .rz-grid-table td {
    border: 1px solid #dee2e6 !important;
}

.test-sequense-grid ::deep .rz-grid-table th {
    border: 1px solid #dee2e6 !important;
}

.test-sequense-grid ::deep .cell-container {
    display: flex;
    align-items: center;
    margin: -0.25rem -1rem;
    padding: 0.25rem 1rem;
    width: calc(100% + 2rem);
}

.test-sequense-grid ::deep .cell-container.error {
    background-color: red;
}

.test-sequense-grid ::deep .cell-text {
    font-size: 17px;
    font-weight: bold;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    min-width: 0;
}
