@using Final_Test_Hybrid.Services.Database
@using Final_Test_Hybrid.Services.Common
@inject DatabaseConnectionState ConnectionState
@implements IDisposable

<div class="status-indicator">
    <span class="status-label">@Label</span>
    <img src="@_lampImage" alt="Status"/>
</div>

@code {
    [Parameter] public string Label { get; set; } = "Database";
    private string _lampImage = "images/RedLamp.png";

    protected override void OnInitialized()
    {
        _lampImage = IndicatorHelper.GetLampImagePath(ConnectionState.IsConnected);
        ConnectionState.ConnectionStateChanged += OnConnectionStateChanged;
    }

    private async void OnConnectionStateChanged(bool connected)
    {
        try
        {
            _lampImage = IndicatorHelper.GetLampImagePath(connected);
            await InvokeAsync(StateHasChanged);
        }
        catch
        {
            // ignored - component may be disposed
        }
    }

    public void Dispose()
    {
        ConnectionState.ConnectionStateChanged -= OnConnectionStateChanged;
    }
}
