@using Final_Test_Hybrid.Services.SpringBoot.Health
@using Final_Test_Hybrid.Services.Common
@using Final_Test_Hybrid.Services.Common.Settings
@inject SpringBootConnectionState ConnectionState
@inject AppSettingsService AppSettingsService
@implements IDisposable

@if (AppSettingsService.UseMes)
{
    <div class="status-indicator">
        <span class="status-label">@Label</span>
        <img src="@_lampImage" alt="Status"/>
    </div>
}

@code {
    [Parameter] public string Label { get; set; } = "Server";
    private string _lampImage = "images/RedLamp.png";

    protected override void OnInitialized()
    {
        _lampImage = IndicatorHelper.GetLampImagePath(ConnectionState.IsConnected);
        ConnectionState.ConnectionStateChanged += OnConnectionStateChanged;
        AppSettingsService.UseMesChanged += OnUseMesChanged;
    }

    private async void OnConnectionStateChanged(bool connected)
    {
        try
        {
            _lampImage = IndicatorHelper.GetLampImagePath(connected);
            await InvokeAsync(StateHasChanged);
        }
        catch
        {
            // ignored - component may be disposed
        }
    }

    private async void OnUseMesChanged(bool _)
    {
        try
        {
            await InvokeAsync(StateHasChanged);
        }
        catch
        {
            // ignored - component may be disposed
        }
    }

    public void Dispose()
    {
        ConnectionState.ConnectionStateChanged -= OnConnectionStateChanged;
        AppSettingsService.UseMesChanged -= OnUseMesChanged;
    }
}
