.tab-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 8px;
    gap: 8px;
}

.grid-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.filter-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-section ::deep .rz-datepicker {
    width: 250px;
}

.filter-section ::deep .rz-datepicker .rz-inputtext {
    font-size: 20px;
}

.filter-section ::deep .rz-datepicker .rz-datepicker-trigger {
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.filter-section ::deep .rz-label {
    font-size: 18px;
    font-weight: 500;
}

.toolbar-buttons {
    display: flex;
    gap: 8px;
}

.record-count {
    font-size: 18px;
    font-weight: 500;
    color: black;
}

/* Кнопки в toolbar */
.toolbar-buttons ::deep .rz-button {
    font-size: 20px;
    padding: 12px 24px;
}

.filter-section ::deep .rz-button {
    font-size: 20px;
    padding: 12px 24px;
}
