.scheme-container {
    width: 100%;
    height: 100%;
    flex: 1;
    min-height: 0;
    display: flex;
    overflow: hidden;
}

.scheme-container svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
