@using Final_Test_Hybrid.Services.Steps.Infrastructure.Execution.ErrorCoordinator
@using Final_Test_Hybrid.Services.Main.PlcReset
@inject DialogService DialogService
@inject ErrorCoordinator ErrorCoordinator
@inject PlcResetCoordinator PlcResetCoordinator
@implements IDisposable

<div class="missing-tags-dialog">
    <div class="info-message">
        @InfoMessage
    </div>
    <RadzenDataGrid Data="@MissingTags" TItem="string"
                    AllowPaging="false"
                    AllowSorting="true"
                    Style="flex: 1; min-height: 0;">
        <Columns>
            <RadzenDataGridColumn TItem="string" Title="Тег (адрес)">
                <Template Context="tagName">
                    @tagName
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</div>

@code {
    [Parameter]
    public List<string> MissingTags { get; set; } = [];
    [Parameter]
    public string InfoMessage { get; set; } = "В PLC DB_Recipe отсутствуют следующие теги:";

    protected override void OnInitialized()
    {
        ErrorCoordinator.OnReset += Close;
        PlcResetCoordinator.OnForceStop += Close;
    }

    private void Close() => DialogService.Close();

    public void Dispose()
    {
        ErrorCoordinator.OnReset -= Close;
        PlcResetCoordinator.OnForceStop -= Close;
    }
}
