@using Final_Test_Hybrid.Models.Steps

<div class="recipe-write-error-dialog">
    <div class="info-message">
        Ошибка записи рецепта в PLC
    </div>
    <RadzenDataGrid Data="@Errors" TItem="RecipeWriteErrorInfo"
                    AllowPaging="false"
                    AllowSorting="true"
                    Style="flex: 1; min-height: 0;">
        <Columns>
            <RadzenDataGridColumn TItem="RecipeWriteErrorInfo" Property="TagName" Title="Тег" />
            <RadzenDataGridColumn TItem="RecipeWriteErrorInfo" Property="Address" Title="Адрес" />
            <RadzenDataGridColumn TItem="RecipeWriteErrorInfo" Property="Value" Title="Значение" />
            <RadzenDataGridColumn TItem="RecipeWriteErrorInfo" Property="Error" Title="Ошибка" />
        </Columns>
    </RadzenDataGrid>
    <div class="dialog-buttons">
        <RadzenButton Text="Закрыть" Icon="close"
                      Click="@OnClose"
                      ButtonStyle="ButtonStyle.Primary" />
    </div>
</div>

@code {
    [Parameter]
    public List<RecipeWriteErrorInfo> Errors { get; set; } = [];
    [Inject]
    public required DialogService DialogService { get; set; }

    private void OnClose()
    {
        DialogService.Close();
    }
}
