<div class="header-block-parameter param-ch">
    <div class="field-row-parameter">
        <RadzenLabel Text="Q-CH"/>
        <RadzenTextBox/>
    </div>
    <div class="field-row-parameter">
        <RadzenLabel Text="P-CH"/>
        <RadzenTextBox/>
    </div>
    <div class="field-row-parameter">
        <RadzenLabel Text="T-CH RTN"/>
        <RadzenTextBox/>
    </div>
    <div class="field-row-parameter">
        <RadzenLabel Text="T-CH FLOW"/>
        <RadzenTextBox/>
    </div>
    <div class="field-row-parameter">
        <RadzenLabel Text="tCH котла"/>
        <RadzenTextBox/>
    </div>
</div>

@code {
}
