<div class="header-block-parameter header-block-parameter-tight">
    <div class="field-row-parameter">
        <RadzenLabel Text="T-GAS"/>
        <RadzenTextBox Style="width:100%"/>
    </div>
    <div class="field-row-parameter">
        <RadzenLabel Text="CH.DeltaTemp"/>
        <RadzenTextBox Style="width:100%"/>
    </div>
    <div class="field-row-parameter">
        <RadzenLabel Text="DHW.DeltaTemp"/>
        <RadzenTextBox Style="width:100%"/>
    </div>
</div>

@code {
    
}
