<div class="header-block-parameter param-dhw">
    <div class="field-row-parameter">
        <RadzenLabel Text="Q-DHW"/>
        <RadzenTextBox/>
    </div>
    <div class="field-row-parameter">
        <RadzenLabel Text="P-DHW"/>
        <RadzenTextBox/>
    </div>
    <div class="field-row-parameter">
        <RadzenLabel Text="T-DHW IN"/>
        <RadzenTextBox/>
    </div>
    <div class="field-row-parameter">
        <RadzenLabel Text="T-DHW OUT"/>
        <RadzenTextBox/>
    </div>
    <div class="field-row-parameter">
        <RadzenLabel Text="tDHW котла"/>
        <RadzenTextBox/>
    </div>
</div>

@code {
}
