<div class="header-block-parameter param-emissions">
    <div class="field-row-parameter">
        <RadzenLabel Text="CO"/>
        <RadzenTextBox/>
    </div>
    <div class="field-row-parameter">
        <RadzenLabel Text="CO2"/>
        <RadzenTextBox/>
    </div>
    <div class="field-row-parameter">
        <RadzenLabel Text="Gas_POG1"/>
        <RadzenTextBox/>
    </div>
    <div class="field-row-parameter">
        <RadzenLabel Text="P атм"/>
        <RadzenTextBox/>
    </div>
</div>

@code {
}
