<div class="header-block-parameter param-gas">
    <div class="field-row-parameter">
        <RadzenLabel Text="Q-GAS(G20)"/>
        <RadzenTextBox Style="width:100%"/>
    </div>
    <div class="field-row-parameter">
        <RadzenLabel Text="Q-GAS(LPG)"/>
        <RadzenTextBox Style="width:100%"/>
    </div>
    <div class="field-row-parameter">
        <RadzenLabel Text="P-GAS"/>
        <RadzenTextBox Style="width:100%"/>
    </div>
    <div class="field-row-parameter">
        <RadzenLabel Text="BURNER"/>
        <RadzenTextBox Style="width:100%"/>
    </div>
</div>

@code {
}