bin/
obj/
[Bb]uild/
[Ll]og/
[xX]64/
[xX]86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

## Кэш / временные
*.user
*.suo
*.userosscache
*.sln.docstates
*.pidb
*.log
*.svclog
*.tmp
*.temp

## Visual Studio
.vs/
*.vcxproj.user
*.vcxproj.filters
*.code-workspace

## Rider / ReSharper / JetBrains
.idea/
*.sln.iml
_ReSharper*/
*.DotSettings.user

## VS Code
.vscode/

## NuGet
*.nupkg
*.snupkg
packages/
.nuget/

## Публикация
**/publish/
**/wwwroot/dist/
**/wwwroot/*.gz
**/wwwroot/*.br

## Node / фронт (актуально для Blazor WASM)
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml
package-lock.json

## Конфиги среды (по желанию)
appsettings.Development.json
appsettings.Local.json

## Пользовательские секреты (обычно вне репо, но на всякий)
secrets.json

## IIS / web-сервер
iisexpress/
*.vspscc
*.vssscc

## Системные файлы
.DS_Store
Thumbs.db