<RadzenStack Orientation="Orientation.Vertical" class="app-stack-vertical">
    <div class="app-tabs-shell">
        <RadzenTabs RenderMode="TabRenderMode.Client" @bind-SelectedIndex="@selectedIndex" class="app-tabs-90">
            <Tabs>
                <RadzenTabsItem Text="Главный экран">
                    <RadzenStack Orientation="Orientation.Vertical" Style="height: 100%; padding: 0 20px;">
                        <RadzenCard Class="header-form-card">
                            <ChildContent>
                                <RadzenStack Orientation="Orientation.Horizontal"
                                             AlignItems="AlignItems.Stretch"
                                             Class="header-form">
                                    <!-- Левая колонка -->
                                    <RadzenStack Orientation="Orientation.Vertical"
                                                 Class="header-form-block">
                                        <RadzenLabel Text="Номер смены"/>
                                        <RadzenTextBox Style="width:100%"/>

                                        <RadzenLabel Text="Номер заказа" Style="margin-top:8px"/>
                                        <RadzenTextBox Style="width:100%"/>

                                        <RadzenLabel Text="Котлов в заказе" Style="margin-top:8px"/>
                                        <RadzenTextBox Style="width:100%"/>

                                        <RadzenLabel Text="Котлов сделано в заказе" Style="margin-top:8px"/>
                                        <RadzenTextBox Style="width:100%"/>
                                    </RadzenStack>

                                    <!-- Средняя колонка -->
                                    <RadzenStack Orientation="Orientation.Vertical"
                                                 Class="header-form-block">
                                        <RadzenLabel Text="Тип котла"/>
                                        <RadzenTextBox Style="width:100%"/>

                                        <RadzenLabel Text="Серийный номер котла" Style="margin-top:8px"/>
                                        <RadzenTextBox Style="width:100%"/>

                                        <RadzenButton Text="Прервать"
                                                      Icon="close"
                                                      ButtonStyle="ButtonStyle.Light"
                                                      Style="margin-top:16px"/>
                                    </RadzenStack>

                                    <!-- Правая колонка -->
                                    <RadzenStack Orientation="Orientation.Vertical"
                                                 Class="header-form-block header-form-block-right">
                                        <RadzenButton Text="Авторизация оператора"
                                                      Icon="person"
                                                      ButtonStyle="ButtonStyle.Primary"
                                                      Style="width:100%"/>

                                        <RadzenButton Text="Выйти"
                                                      Icon="logout"
                                                      ButtonStyle="ButtonStyle.Light"
                                                      Style="width:100%; margin-top:8px"/>

                                        <RadzenLabel Text="Имя оператора" Style="margin-top:16px"/>
                                        <RadzenTextBox Style="width:100%"/>
                                    </RadzenStack>
                                </RadzenStack>
                            </ChildContent>
                        </RadzenCard>
                    </RadzenStack>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Orders">
                    Orders
                </RadzenTabsItem>
                <RadzenTabsItem Text="Order Details">
                    Order Details
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </div>
    <div class="app-bottom-10">
        1111
    </div>
</RadzenStack>

@code {
    private int selectedIndex = 0;
}