<RadzenStack Orientation="Orientation.Vertical" class="app-stack-vertical">
    <div class="app-tabs-shell">
        <RadzenTabs RenderMode="TabRenderMode.Client" @bind-SelectedIndex="@selectedIndex" class="app-tabs-90">
            <Tabs>
                <RadzenTabsItem Text="Главный экран">
                    <RadzenStack Orientation="Orientation.Vertical" Style="height: 100%; gap: 6px;">
                        <RadzenCard Class="header-card">
                            <ChildContent>
                                <div class="header-grid">
                                    @* Блок 1: четыре поля *@
                                    <div class="header-block header-block-left">
                                        <div class="field-row">
                                            <RadzenLabel Text="Номер смены"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                        <div class="field-row">
                                            <RadzenLabel Text="Номер заказа"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                        <div class="field-row">
                                            <RadzenLabel Text="Котлов в заказе"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                        <div class="field-row">
                                            <RadzenLabel Text="Котлов сделано"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                    </div>

                                    @* Блок 2: тип + серийный + кнопка *@
                                    <div class="header-block header-block-middle">
                                        <div class="field-row field-row-middle">
                                            <RadzenLabel Text="Тип котла"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                        <div class="field-row field-row-middle">
                                            <RadzenLabel Text="Серийный номер"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                    </div>

                                    @* Блок 3: кнопки + имя оператора *@
                                    <div class="header-block header-block-right">
                                        <div class="buttons-row">
                                            <RadzenButton Text="Авторизация оператора"
                                                          Icon="person"
                                                          ButtonStyle="ButtonStyle.Primary"
                                                          Style="background-color: #1e5fcf"/>
                                            <RadzenButton Text="Выйти"
                                                          Icon="logout"
                                                          ButtonStyle="ButtonStyle.Light"
                                                          Style="color: black"/>
                                        </div>
                                        <div class="field-row field-row-operator">
                                            <RadzenLabel Text="Имя оператора"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                    </div>

                                </div>
                            </ChildContent>
                        </RadzenCard>
                        
                        <RadzenCard Class="header-card">
                            <ChildContent>
                                <div class="header-grid-parameter">
                                    @* Блок 1: четыре поля *@
                                    <div class="header-block-parameter">
                                        <div class="field-row-parameter">
                                            <RadzenLabel Text="Q-GAS (G20)"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                        <div class="field-row-parameter">
                                            <RadzenLabel Text="Q-GAS (LGP)"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                        <div class="field-row-parameter">
                                            <RadzenLabel Text="P-GAS"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                        <div class="field-row-parameter">
                                            <RadzenLabel Text="P-BURNER"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                    </div>
                                        
                                    <div class="header-block-parameter">
                                        <div class="field-row-parameter">
                                            <RadzenLabel Text="T-GAS"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                        <div class="field-row-parameter">
                                            <RadzenLabel Text="DeltaTemp"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                        <div class="field-row-parameter">
                                            <RadzenLabel Text="DeltaTemp"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                    </div>
                                    
                                    <div class="header-block-parameter">
                                        <div class="field-row-parameter">
                                            <RadzenLabel Text="T-GAS"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                        <div class="field-row-parameter">
                                            <RadzenLabel Text="DeltaTemp"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                        <div class="field-row-parameter">
                                            <RadzenLabel Text="DeltaTemp"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                        <div class="field-row-parameter">
                                            <RadzenLabel Text="DeltaTemp"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                        <div class="field-row-parameter">
                                            <RadzenLabel Text="DeltaTemp"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                    </div>
                                </div>
                            </ChildContent>
                        </RadzenCard>
                        <RadzenTextArea Rows="1" Style="width:100%; resize: none;  border: 2px solid #000;
    border-radius: 4px; background-color: rgb(180, 180, 180); color: black; font-size: 4rem; font-weight: 700" />
                        <RadzenDataGrid
                            Style="flex: 1; min-height: 0;"
                            TItem="Order"
                            Data="_orders"
                            ColumnWidth="150px"
                            AllowPaging="false"
                            AllowSorting="false">
                            <Columns>
                                <RadzenDataGridColumn TItem="Order" Property="OrderID" Title="ID"/>
                                <RadzenDataGridColumn TItem="Order" Property="Number" Title="Номер"/>
                                <RadzenDataGridColumn TItem="Order" Property="Status" Title="Статус"/>
                            </Columns>
                        </RadzenDataGrid>
                    </RadzenStack>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Orders">
                    Orders
                </RadzenTabsItem>
                <RadzenTabsItem Text="Order Details">
                    Order Details
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </div>
    <div class="app-bottom-10">
        1111
    </div>
</RadzenStack>

@code {
    private List<Order> _orders = Enumerable.Range(1, 30)
    .Select(_ => new Order())
        .ToList();
    private int selectedIndex = 0;
}