<RadzenStack Orientation="Orientation.Vertical" class="app-stack-vertical">
    <div class="app-tabs-shell">
        <RadzenTabs RenderMode="TabRenderMode.Client" @bind-SelectedIndex="@selectedIndex" class="app-tabs-90">
            <Tabs>
                <RadzenTabsItem Text="Главный экран">
                    <RadzenStack Orientation="Orientation.Vertical" Style="height: 100%; padding: 0 20px;">
                        <RadzenCard Class="header-card">
                            <ChildContent>
                                <div class="header-grid">

                                    @* Блок 1: четыре поля *@
                                    <div class="header-block header-block-left">
                                        <div class="field-row">
                                            <RadzenLabel Text="Номер смены"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                        <div class="field-row">
                                            <RadzenLabel Text="Номер заказа"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                        <div class="field-row">
                                            <RadzenLabel Text="Котлов в заказе"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                        <div class="field-row">
                                            <RadzenLabel Text="Котлов сделано"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                    </div>

                                    @* Блок 2: тип + серийный + кнопка *@
                                    <div class="header-block header-block-middle">
                                        <div class="field-row field-row-middle">
                                            <RadzenLabel Text="Тип котла"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                        <div class="field-row field-row-middle">
                                            <RadzenLabel Text="Серийный номер"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                    </div>

                                    @* Блок 3: кнопки + имя оператора *@
                                    <div class="header-block header-block-right">
                                        <div class="buttons-row">
                                            <RadzenButton Text="Авторизация оператора"
                                                          Icon="person"
                                                          ButtonStyle="ButtonStyle.Primary"
                                                          Style="background-color: #1e5fcf"/>
                                            <RadzenButton Text="Выйти"
                                                          Icon="logout"
                                                          ButtonStyle="ButtonStyle.Light"
                                                          Style="color: black"/>
                                        </div>
                                        <div class="field-row">
                                            <RadzenLabel Text="Имя оператора"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                    </div>

                                </div>
                            </ChildContent>
                        </RadzenCard>
                    </RadzenStack>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Orders">
                    Orders
                </RadzenTabsItem>
                <RadzenTabsItem Text="Order Details">
                    Order Details
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </div>
    <div class="app-bottom-10">
        1111
    </div>
</RadzenStack>

@code {
    private int selectedIndex = 0;
}