<RadzenStack Orientation="Orientation.Vertical" Gap="0" class="app-stack-vertical">
    <div class="app-tabs-shell">
        <RadzenTabs RenderMode="TabRenderMode.Client" @bind-SelectedIndex="@selectedIndex" class="app-tabs-90">
            <Tabs>
                <RadzenTabsItem Text="Главный экран">
                    <RadzenStack Orientation="Orientation.Vertical" Style="height: 100%; gap: 12px;">
                        <RadzenCard Class="header-card">
                            <ChildContent>
                                <div class="header-grid">
                                    @* Блок 1: четыре поля *@
                                    <div class="header-block header-block-left">
                                        <div class="field-row">
                                            <RadzenLabel Text="Номер смены"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                        <div class="field-row">
                                            <RadzenLabel Text="Номер заказа"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                        <div class="field-row">
                                            <RadzenLabel Text="Котлов в заказе"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                        <div class="field-row">
                                            <RadzenLabel Text="Котлов сделано"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                    </div>

                                    @* Блок 2: тип + серийный + кнопка *@
                                    <div class="header-block header-block-middle">
                                        <div class="field-row field-row-middle">
                                            <RadzenLabel Text="Тип котла"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                        <div class="field-row field-row-middle">
                                            <RadzenLabel Text="Серийный номер"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                    </div>

                                    @* Блок 3: кнопки + имя оператора *@
                                    <div class="header-block header-block-right">
                                        <div class="buttons-row">
                                            <RadzenButton Text="Авторизация оператора"
                                                          Icon="person"
                                                          ButtonStyle="ButtonStyle.Primary"
                                                          Style="background-color: #1e5fcf"/>
                                            <RadzenButton Text="Выйти"
                                                          Icon="logout"
                                                          ButtonStyle="ButtonStyle.Light"
                                                          Style="color: black"/>
                                        </div>
                                        <div class="field-row field-row-operator">
                                            <RadzenLabel Text="Имя оператора"/>
                                            <RadzenTextBox Style="width:100%"/>
                                        </div>
                                    </div>

                                </div>
                            </ChildContent>
                        </RadzenCard>

                        <div class="tab-content-wrapper">
                            <RadzenCard Class="header-card">
                                <ChildContent>
                                    <div class="header-grid-parameter">
                                        @* Блок 1: четыре поля *@
                                        <div class="header-block-parameter">
                                            <div class="field-row-parameter">
                                                <RadzenLabel Text="Q-GAS (G20)"/>
                                                <RadzenTextBox Style="width:100%"/>
                                            </div>
                                            <div class="field-row-parameter">
                                                <RadzenLabel Text="Q-GAS (LGP)"/>
                                                <RadzenTextBox Style="width:100%"/>
                                            </div>
                                            <div class="field-row-parameter">
                                                <RadzenLabel Text="P-GAS"/>
                                                <RadzenTextBox Style="width:100%"/>
                                            </div>
                                            <div class="field-row-parameter">
                                                <RadzenLabel Text="P-BURNER"/>
                                                <RadzenTextBox Style="width:100%"/>
                                            </div>
                                        </div>

                                        <div class="header-block-parameter">
                                            <div class="field-row-parameter">
                                                <RadzenLabel Text="T-GAS"/>
                                                <RadzenTextBox Style="width:100%"/>
                                            </div>
                                            <div class="field-row-parameter">
                                                <RadzenLabel Text="DeltaTemp"/>
                                                <RadzenTextBox Style="width:100%"/>
                                            </div>
                                            <div class="field-row-parameter">
                                                <RadzenLabel Text="DeltaTemp"/>
                                                <RadzenTextBox Style="width:100%"/>
                                            </div>
                                        </div>

                                        <div class="header-block-parameter">
                                            <div class="field-row-parameter">
                                                <RadzenLabel Text="T-GAS"/>
                                                <RadzenTextBox Style="width:100%"/>
                                            </div>
                                            <div class="field-row-parameter">
                                                <RadzenLabel Text="DeltaTemp"/>
                                                <RadzenTextBox Style="width:100%"/>
                                            </div>
                                            <div class="field-row-parameter">
                                                <RadzenLabel Text="DeltaTemp"/>
                                                <RadzenTextBox Style="width:100%"/>
                                            </div>
                                            <div class="field-row-parameter">
                                                <RadzenLabel Text="DeltaTemp"/>
                                                <RadzenTextBox Style="width:100%"/>
                                            </div>
                                            <div class="field-row-parameter">
                                                <RadzenLabel Text="DeltaTemp"/>
                                                <RadzenTextBox Style="width:100%"/>
                                            </div>
                                        </div>
                                    </div>
                                </ChildContent>
                            </RadzenCard>
                            <RadzenTextArea Rows="1" Style="width:100%; resize: none;  border: 2px solid #000;
        border-radius: 4px; background-color: rgb(180, 180, 180); color: black; font-size: 4rem; font-weight: 700"/>
                            <RadzenDataGrid
                                Style="flex: 1; min-height: 0;"
                                TItem="Order"
                                Data="_orders"
                                ColumnWidth="150px"
                                AllowPaging="false"
                                AllowSorting="false">
                                <Columns>
                                    <RadzenDataGridColumn TItem="Order" Property="OrderID" Title="ID"/>
                                    <RadzenDataGridColumn TItem="Order" Property="Number" Title="Номер"/>
                                    <RadzenDataGridColumn TItem="Order" Property="Status" Title="Статус"/>
                                </Columns>
                            </RadzenDataGrid>
                        </div>
                    </RadzenStack>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Ошибки">
                    Orders
                </RadzenTabsItem>
                <RadzenTabsItem Text="Ошибки">
                    <div class="app-tabs-shell app-tabs-shell-inside">
                        <RadzenTabs RenderMode="TabRenderMode.Client" @bind-SelectedIndex="@selectedIndex" Style="height: 100%; width: 100%">
                            <Tabs>
                                <RadzenTabsItem Text="GAS">
                                    <div class="scheme-container">
                                        <svg id="_Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 1080" preserveAspectRatio="xMinYMid meet">
                                            <defs>
                                                <linearGradient id="_Безымянный_градиент_17"
                                                                data-name="Безымянный градиент 17" x1="-1069.94"
                                                                y1="611.88" x2="-1069.94" y2="663.84"
                                                                gradientTransform="translate(888.43 1028.09) scale(.57 -.57)"
                                                                gradientUnits="userSpaceOnUse">
                                                    <stop offset="0" stop-color="#383838"/>
                                                    <stop offset=".22" stop-color="#7f7f7f"/>
                                                    <stop offset=".32" stop-color="#d9d9d9"/>
                                                    <stop offset=".69" stop-color="#d9d9d9"/>
                                                    <stop offset=".77" stop-color="#a6a6a6"/>
                                                    <stop offset="1" stop-color="gray"/>
                                                </linearGradient>
                                                <linearGradient id="_Безымянный_градиент_4"
                                                                data-name="Безымянный градиент 4" x1="-1105.34"
                                                                y1="611.88" x2="-1105.34" y2="663.84"
                                                                gradientTransform="translate(888.43 1028.09) scale(.57 -.57)"
                                                                gradientUnits="userSpaceOnUse">
                                                    <stop offset="0" stop-color="#1f1f1f"/>
                                                    <stop offset=".45" stop-color="#999"/>
                                                    <stop offset=".62" stop-color="#868686"/>
                                                    <stop offset=".77" stop-color="#737373"/>
                                                    <stop offset="1" stop-color="#1f1f1f"/>
                                                </linearGradient>
                                                <linearGradient id="_Безымянный_градиент_6"
                                                                data-name="Безымянный градиент 6" x1="-1072.9"
                                                                y1="679.79" x2="-1049.21" y2="679.79"
                                                                gradientTransform="translate(888.43 1028.09) scale(.57 -.57)"
                                                                gradientUnits="userSpaceOnUse">
                                                    <stop offset="0" stop-color="#383838"/>
                                                    <stop offset=".45" stop-color="#ececec"/>
                                                    <stop offset=".55" stop-color="#d9d9d9"/>
                                                    <stop offset=".76" stop-color="#a8a8a8"/>
                                                    <stop offset=".77" stop-color="#a6a6a6"/>
                                                    <stop offset="1" stop-color="#383838"/>
                                                </linearGradient>
                                                <linearGradient id="_Безымянный_градиент_4-2"
                                                                data-name="Безымянный градиент 4" x1="-1093.77"
                                                                y1="667.58" x2="-1056.1" y2="667.58"
                                                                xlink:href="#_Безымянный_градиент_4"/>
                                                <linearGradient id="_Безымянный_градиент_6-2"
                                                                data-name="Безымянный градиент 6" y1="683.18"
                                                                y2="683.18" xlink:href="#_Безымянный_градиент_6"/>
                                                <linearGradient id="_Безымянный_градиент_6-3"
                                                                data-name="Безымянный градиент 6" x1="-1075.36"
                                                                y1="667.6" x2="-1046.4" y2="667.6"
                                                                xlink:href="#_Безымянный_градиент_6"/>
                                                <linearGradient id="_Безымянный_градиент_16"
                                                                data-name="Безымянный градиент 16" x1="-940.07"
                                                                y1="682.14" x2="-940.07" y2="692.74"
                                                                gradientTransform="translate(888.43 1028.09) scale(.57 -.57)"
                                                                gradientUnits="userSpaceOnUse">
                                                    <stop offset="0" stop-color="#d94000"/>
                                                    <stop offset=".45" stop-color="#ff8c00"/>
                                                    <stop offset=".62" stop-color="#ff7900"/>
                                                    <stop offset=".77" stop-color="#f60"/>
                                                    <stop offset="1" stop-color="#d94000"/>
                                                </linearGradient>
                                                <linearGradient id="_Безымянный_градиент_17-2"
                                                                data-name="Безымянный градиент 17" x1="-1068.43"
                                                                y1="356.35" x2="-1068.43" y2="408.31"
                                                                xlink:href="#_Безымянный_градиент_17"/>
                                                <linearGradient id="_Безымянный_градиент_6-4"
                                                                data-name="Безымянный градиент 6" x1="-1071.39"
                                                                y1="424.26" x2="-1047.7" y2="424.26"
                                                                xlink:href="#_Безымянный_градиент_6"/>
                                                <linearGradient id="_Безымянный_градиент_4-3"
                                                                data-name="Безымянный градиент 4" x1="-1092.26"
                                                                y1="412.06" x2="-1054.59" y2="412.06"
                                                                xlink:href="#_Безымянный_градиент_4"/>
                                                <linearGradient id="_Безымянный_градиент_6-5"
                                                                data-name="Безымянный градиент 6" x1="-1071.39"
                                                                y1="427.65" x2="-1047.7" y2="427.65"
                                                                xlink:href="#_Безымянный_градиент_6"/>
                                                <linearGradient id="_Безымянный_градиент_6-6"
                                                                data-name="Безымянный градиент 6" x1="-1073.85"
                                                                y1="412.07" x2="-1044.88" y2="412.07"
                                                                xlink:href="#_Безымянный_градиент_6"/>
                                                <linearGradient id="_Безымянный_градиент_16-2"
                                                                data-name="Безымянный градиент 16" x1="-938.56"
                                                                y1="426.61" x2="-938.56" y2="437.21"
                                                                xlink:href="#_Безымянный_градиент_16"/>
                                                <linearGradient id="_Безымянный_градиент_17-3"
                                                                data-name="Безымянный градиент 17" x1="-1068.43"
                                                                y1="103.22" x2="-1068.43" y2="155.19"
                                                                xlink:href="#_Безымянный_градиент_17"/>
                                                <linearGradient id="_Безымянный_градиент_6-7"
                                                                data-name="Безымянный градиент 6" x1="-1071.39"
                                                                y1="171.14" x2="-1047.7" y2="171.14"
                                                                xlink:href="#_Безымянный_градиент_6"/>
                                                <linearGradient id="_Безымянный_градиент_4-4"
                                                                data-name="Безымянный градиент 4" x1="-1092.26"
                                                                y1="158.93" x2="-1054.59" y2="158.93"
                                                                xlink:href="#_Безымянный_градиент_4"/>
                                                <linearGradient id="_Безымянный_градиент_6-8"
                                                                data-name="Безымянный градиент 6" x1="-1071.39"
                                                                y1="174.52" x2="-1047.7" y2="174.52"
                                                                xlink:href="#_Безымянный_градиент_6"/>
                                                <linearGradient id="_Безымянный_градиент_6-9"
                                                                data-name="Безымянный градиент 6" x1="-1073.85"
                                                                y1="158.95" x2="-1044.88" y2="158.95"
                                                                xlink:href="#_Безымянный_градиент_6"/>
                                                <linearGradient id="_Безымянный_градиент_16-3"
                                                                data-name="Безымянный градиент 16" x1="-938.56"
                                                                y1="173.48" x2="-938.56" y2="184.08"
                                                                xlink:href="#_Безымянный_градиент_16"/>
                                            </defs>
                                            <text transform="translate(45.76 671.94)"
                                                  style="font-size: 36px;">
                                                <tspan x="0" y="0">G20</tspan>
                                            </text>
                                            <text transform="translate(46.09 820.93)"
                                                  style="font-size: 36px;">
                                                <tspan x="0" y="0">G25</tspan>
                                            </text>
                                            <text transform="translate(43.09 970.93)"
                                                  style="font-size: 36px;">
                                                <tspan x="0" y="0">LPG</tspan>
                                            </text>
                                            <polygon
                                                points="145.52 680 115.25 664.61 144.98 649.5 175.25 664.89 145.52 680"
                                                style="fill: #ff0;"/>
                                            <polygon
                                                points="146.99 825.37 116.72 810.23 146.45 795.37 176.72 810.5 146.99 825.37"
                                                style="fill: #ff0;"/>
                                            <polygon
                                                points="146.99 971.37 116.72 956.23 146.45 941.37 176.72 956.5 146.99 971.37"
                                                style="fill: #ff0;"/>
                                            <g id="Group_Horizonatal_Short" data-name="Group Horizonatal Short">
                                                <path d="M239.72,672.82h-64v-16.9h64v16.9Z" style="fill: #fff8a2;"/>
                                            </g>
                                            <g id="Group_Horizonatal_Short-2" data-name="Group Horizonatal Short">
                                                <path d="M240.72,818.82h-64v-16.9h64v16.9Z" style="fill: #fff8a2;"/>
                                            </g>
                                            <g id="Group_Horizonatal_Short-3" data-name="Group Horizonatal Short">
                                                <path d="M240.72,964.82h-64v-16.9h64v16.9Z" style="fill: #fff8a2;"/>
                                            </g>
                                            <g id="Group_PortAndBody" data-name="Group PortAndBody">
                                                <path d="M239.72,650.44h80.06v29.56h-80.06v-29.56"
                                                      style="fill: url(#_Безымянный_градиент_17);"/>
                                            </g>
                                            <g id="Group_2" data-name="Group 2">
                                                <path d="M266.2,650.44h-13.16v29.56h13.16v-29.56"
                                                      style="fill: url(#_Безымянный_градиент_4);"/>
                                            </g>
                                            <g id="Group_Box" data-name="Group Box">
                                                <path d="M266.2,672.67v7.33h1.92v-6.15h36.58v-1.18h-38.5Z"
                                                      style="fill: #666;"/>
                                                <path d="M304.7,658.28l-1.6-.51v14.9l1.6,1.18v-15.57Z"
                                                      style="fill: #999;"/>
                                                <path d="M266.2,657.77h36.9v14.9h-36.9v-14.9Z" style="fill: #ccc;"/>
                                            </g>
                                            <g id="Group_1" data-name="Group 1">
                                                <polygon
                                                    points="289.62 637.55 289.62 636.96 279.67 636.96 279.67 637.55 278.07 637.55 278.07 645.77 291.54 645.77 291.54 637.55 289.62 637.55"
                                                    style="fill: url(#_Безымянный_градиент_6);"/>
                                                <path d="M266.2,651.15v-5.68h17.36l4.07-.35v6.39l-4.07-.35h-17.36Z"
                                                      style="fill: url(#_Безымянный_градиент_4-2);"/>
                                                <path d="M278.07,637.55h13.48v3.78h-13.48v-3.78Z"
                                                      style="fill: url(#_Безымянный_градиент_6-2);"/>
                                                <path
                                                    d="M287.95,644.64c-1.38-.12-4.17-.1-5.55,0-1.45.1-5.73.8-5.73.8v5.74s4.28.68,5.73.8c1.16.09,3.49.08,4.65,0,1.54-.1,6.1-.83,6.1-.83v-5.75s-3.88-.65-5.2-.76Z"
                                                    style="fill: url(#_Безымянный_градиент_6-3);"/>
                                            </g>
                                            <g id="Group_Handle1" data-name="Group Handle1">
                                                <path
                                                    d="M272.93,645.47s.11-1.38,1.02-1.81c.85-.4,18.77.01,23.36-.08.46,0,1.12-.59,1.44-.83,1.08-.82,2.32-2.23,3.06-2.99,1.3-1.32,1.72-1.51,1.91-1.51h6.27v-2.6s-6.62-.04-7.87,0c-.51.01-1.07.55-1.57.98-1.09.93-3.09,3.46-4.52,4.58-.15.12-24.71.12-24.71.12,0,0-.94.38-1.12.59-.24.28-.48,2.36-.48,2.36v1.18h3.21"
                                                    style="fill: #b2b2b2;"/>
                                            </g>
                                            <g id="Group_Handle" data-name="Group Handle">
                                                <path d="M307.27,634h92.73v6.03h-92.73v-6.03"
                                                      style="fill: url(#_Безымянный_градиент_16);"/>
                                            </g>
                                            <g id="Group_PortAndBody-2" data-name="Group PortAndBody">
                                                <path d="M240.58,795.8h80.06v29.56h-80.06v-29.56"
                                                      style="fill: url(#_Безымянный_градиент_17-2);"/>
                                            </g>
                                            <g id="Group_Box-2" data-name="Group Box">
                                                <path d="M267.06,818.04v7.33h1.92v-6.15h36.58v-1.18h-38.5Z"
                                                      style="fill: #666;"/>
                                                <path d="M305.56,803.65l-1.6-.51v14.9l1.6,1.18v-15.57Z"
                                                      style="fill: #999;"/>
                                                <path d="M267.06,803.14h36.9v14.9h-36.9v-14.9Z" style="fill: #ccc;"/>
                                            </g>
                                            <g id="Group_1-2" data-name="Group 1">
                                                <polygon
                                                    points="290.48 782.91 290.48 782.32 280.53 782.32 280.53 782.91 278.93 782.91 278.93 791.14 292.4 791.14 292.4 782.91 290.48 782.91"
                                                    style="fill: url(#_Безымянный_градиент_6-4);"/>
                                                <path d="M267.06,796.51v-5.68h17.36l4.07-.35v6.39l-4.07-.35h-17.36Z"
                                                      style="fill: url(#_Безымянный_градиент_4-3);"/>
                                                <path d="M278.93,782.91h13.48v3.78h-13.48v-3.78Z"
                                                      style="fill: url(#_Безымянный_градиент_6-5);"/>
                                                <path
                                                    d="M288.81,790.01c-1.38-.12-4.17-.1-5.55,0-1.45.1-5.73.8-5.73.8v5.74s4.28.68,5.73.8c1.16.09,3.49.08,4.65,0,1.54-.1,6.1-.83,6.1-.83v-5.75s-3.88-.65-5.2-.76Z"
                                                    style="fill: url(#_Безымянный_градиент_6-6);"/>
                                            </g>
                                            <g id="Group_Handle1-2" data-name="Group Handle1">
                                                <path
                                                    d="M273.79,790.84s.11-1.38,1.02-1.81c.85-.4,18.77.01,23.36-.08.46,0,1.12-.59,1.44-.83,1.08-.82,2.32-2.23,3.06-2.99,1.3-1.32,1.72-1.51,1.91-1.51h6.27v-2.6s-6.62-.04-7.87,0c-.51.01-1.07.55-1.57.98-1.09.93-3.09,3.46-4.52,4.58-.15.12-24.71.12-24.71.12,0,0-.94.38-1.12.59-.24.28-.48,2.36-.48,2.36v1.18h3.21"
                                                    style="fill: #b2b2b2;"/>
                                            </g>
                                            <g id="Group_Handle-2" data-name="Group Handle">
                                                <path d="M308.13,779.37h92.73v6.03h-92.73v-6.03"
                                                      style="fill: url(#_Безымянный_градиент_16-2);"/>
                                            </g>
                                            <g id="Group_PortAndBody-3" data-name="Group PortAndBody">
                                                <path d="M240.58,939.8h80.06v29.56h-80.06v-29.56"
                                                      style="fill: url(#_Безымянный_градиент_17-3);"/>
                                            </g>
                                            <g id="Group_Box-3" data-name="Group Box">
                                                <path d="M267.06,962.04v7.33h1.92v-6.15h36.58v-1.18h-38.5Z"
                                                      style="fill: #666;"/>
                                                <path d="M305.56,947.65l-1.6-.51v14.9l1.6,1.18v-15.57Z"
                                                      style="fill: #999;"/>
                                                <path d="M267.06,947.14h36.9v14.9h-36.9v-14.9Z" style="fill: #ccc;"/>
                                            </g>
                                            <g id="Group_1-3" data-name="Group 1">
                                                <polygon
                                                    points="290.48 926.91 290.48 926.32 280.53 926.32 280.53 926.91 278.93 926.91 278.93 935.14 292.4 935.14 292.4 926.91 290.48 926.91"
                                                    style="fill: url(#_Безымянный_градиент_6-7);"/>
                                                <path d="M267.06,940.51v-5.68h17.36l4.07-.35v6.39l-4.07-.35h-17.36Z"
                                                      style="fill: url(#_Безымянный_градиент_4-4);"/>
                                                <path d="M278.93,926.91h13.48v3.78h-13.48v-3.78Z"
                                                      style="fill: url(#_Безымянный_градиент_6-8);"/>
                                                <path
                                                    d="M288.81,934.01c-1.38-.12-4.17-.1-5.55,0-1.45.1-5.73.8-5.73.8v5.74s4.28.68,5.73.8c1.16.09,3.49.08,4.65,0,1.54-.1,6.1-.83,6.1-.83v-5.75s-3.88-.65-5.2-.76Z"
                                                    style="fill: url(#_Безымянный_градиент_6-9);"/>
                                            </g>
                                            <g id="Group_Handle1-3" data-name="Group Handle1">
                                                <path
                                                    d="M273.79,934.84s.11-1.38,1.02-1.81c.85-.4,18.77.01,23.36-.08.46,0,1.12-.59,1.44-.83,1.08-.82,2.32-2.23,3.06-2.99,1.3-1.32,1.72-1.51,1.91-1.51h6.27v-2.6s-6.62-.04-7.87,0c-.51.01-1.07.55-1.57.98-1.09.93-3.09,3.46-4.52,4.58-.15.12-24.71.12-24.71.12,0,0-.94.38-1.12.59-.24.28-.48,2.36-.48,2.36v1.18h3.21"
                                                    style="fill: #b2b2b2;"/>
                                            </g>
                                            <g id="Group_Handle-3" data-name="Group Handle">
                                                <path d="M308.13,923.37h92.73v6.03h-92.73v-6.03"
                                                      style="fill: url(#_Безымянный_градиент_16-3);"/>
                                            </g>
                                            <text transform="translate(241.09 714.93)"
                                                  style="font-size: 36px;">
                                                <tspan x="0" y="0">SF0.1</tspan>
                                            </text>
                                            <text transform="translate(242.36 859.93)"
                                                  style="font-size: 36px;">
                                                <tspan x="0" y="0">SF0.2</tspan>
                                            </text>
                                            <text transform="translate(244.36 1011.93)"
                                                  style="font-size: 36px;">
                                                <tspan x="0" y="0">SF0.3</tspan>
                                            </text>
                                            <polygon points="457.33 664.75 509.12 683.31 509.12 646.2 457.33 664.75"
                                                     style="fill: #999; stroke: #000; stroke-miterlimit: 10;"/>
                                            <circle cx="492" cy="665" r="12"
                                                    style="fill: #999; stroke: #000; stroke-miterlimit: 10;"/>
                                            <g id="Group_Horizonatal_Short-4" data-name="Group Horizonatal Short">
                                                <path d="M455,672.82h-134.28v-16.9h134.28v16.9Z"
                                                      style="fill: #fff8a2;"/>
                                            </g>
                                            <g id="Group_Horizonatal_Short-5" data-name="Group Horizonatal Short">
                                                <path d="M455.8,818.43h-134.28v-16.9h134.28v16.9Z"
                                                      style="fill: #fff8a2;"/>
                                            </g>
                                            <g id="Group_Horizonatal_Short-6" data-name="Group Horizonatal Short">
                                                <path d="M454.8,964.43h-134.28v-16.9h134.28v16.9Z"
                                                      style="fill: #fff8a2;"/>
                                            </g>
                                            <polygon points="456.32 810.37 508.11 828.92 508.11 791.81 456.32 810.37"
                                                     style="fill: #999; stroke: #000; stroke-miterlimit: 10;"/>
                                            <circle cx="490.99" cy="810.61" r="12"
                                                    style="fill: #999; stroke: #000; stroke-miterlimit: 10;"/>
                                            <polygon points="454.32 956.37 506.11 974.92 506.11 937.81 454.32 956.37"
                                                     style="fill: #999; stroke: #000; stroke-miterlimit: 10;"/>
                                            <circle cx="488.99" cy="956.61" r="12"
                                                    style="fill: #999; stroke: #000; stroke-miterlimit: 10;"/>
                                        </svg>
                                    </div>
                                </RadzenTabsItem>
                            </Tabs>
                        </RadzenTabs>
                    </div>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </div>
    <div class="app-bottom-10">
        <!-- Левая часть: занимает всё место слева, контент прижат влево -->
        <div style="flex: 1; display: flex; align-items: center; min-width: 0; justify-content: flex-start; height: 100%;">
            <RadzenButton Style="height: 56px; min-width: 250px; font-size: 1.5rem; font-weight: 900; color: white"
                          Text="Success" ButtonStyle="ButtonStyle.Success"/>

            <div class="app-bottom-10-content" style="margin-left: 100px">
                <div class="status-indicator">
                    <span class="status-label">Air ON</span>
                    <img src="images/RedLamp.png" alt="Логотип"/>
                </div>
                <div class="status-indicator">
                    <span class="status-label">Air ON</span>
                    <img src="images/RedLamp.png" alt="Логотип"/>
                </div>
                <div class="status-indicator">
                    <span class="status-label">Air ON</span>
                    <img src="images/RedLamp.png" alt="Логотип"/>
                </div>
            </div>
        </div>

        <!-- Центр: занимает ровно столько, сколько контент, стоит по центру экрана -->
        <div class="app-bottom-10-content" style="flex: 0 0 auto; gap: 40px; margin-left: 230px">
            <RadzenCard Class="rz-p-2" Style="background-color: #e0e0e0; min-width: 220px;">
                <RadzenStack Gap="10" AlignItems="AlignItems.Center">
                    <RadzenText Style="font-size: 1.8rem; color: black">Время теста</RadzenText>  <!-- Заголовок -->
                    <RadzenText Style="font-size: 1.8rem; color: black">00:00:00</RadzenText>     <!-- Значение -->
                </RadzenStack>
            </RadzenCard>
            <RadzenCard Class="rz-p-2" Style="background-color: #e0e0e0; min-width: 220px;">
                <RadzenStack Gap="10" AlignItems="AlignItems.Center">
                    <RadzenText Style="font-size: 1.8rem; color: black">Время теста</RadzenText>  <!-- Заголовок -->
                    <RadzenText Style="font-size: 1.8rem; color: black">00:00:00</RadzenText>     <!-- Значение -->
                </RadzenStack>
            </RadzenCard>
            <RadzenCard Class="rz-p-2" Style="background-color: #e0e0e0; min-width: 220px;">
                <RadzenStack Gap="10" AlignItems="AlignItems.Center">
                    <RadzenText Style="font-size: 1.8rem; color: black">Время розжига</RadzenText>  <!-- Заголовок -->
                    <RadzenText Style="font-size: 1.8rem; color: black">00:00:00</RadzenText>     <!-- Значение -->
                </RadzenStack>
            </RadzenCard>
        </div>

        <!-- Правая часть: занимает всё место справа, контент прижат вправо -->
        <div style="flex: 1; display: flex; align-items: center; min-width: 0; justify-content: flex-end; height: 100%;">
            <div class="app-bottom-10-content" style="margin-right: 100px;">
                <div class="status-indicator">
                    <span class="status-label">Air ON</span>
                    <img src="images/RedLamp.png" alt="Логотип"/>
                </div>
                <div class="status-indicator">
                    <span class="status-label">Air ON</span>
                    <img src="images/RedLamp.png" alt="Логотип"/>
                </div>
                <div class="status-indicator">
                    <span class="status-label">Air ON</span>
                    <img src="images/RedLamp.png" alt="Логотип"/>
                </div>
            </div>
        </div>
    </div>
</RadzenStack>

@code {

    private List<Order> _orders = Enumerable.Range(1, 30)
        .Select(_ => new Order())
        .ToList();

    private int selectedIndex = 0;
}