<div style="height: 100%; padding: 0 20px;">
    <div class="panel-grid">

        <PanelBox>
            <LampIndicator Label="PC_ON"/>
            <LampIndicator Label="6K1_NOK"/>
            <LampIndicator Label="6K1_OK"/>
            <LampIndicator Label="6K2_NOK"/>
            <LampIndicator Label="6K2_OK"/>
            <LampIndicator Label="Plug_Ins"/>
            <LampIndicator Label="7K3_ON"/>
            <LampIndicator Label="Isometer_Alarm"/>
        </PanelBox>

        <PanelBox>
            <LampIndicator Label="FA_AlarmCondensat"/>
            <LampIndicator Label="FA_AlarmHeatLine"/>
            <LampIndicator Label="FA_AlarmGasCooler"/>
            <LampIndicator Label="FA_Trip"/>
            <LampIndicator Label="FA_NoReady"/>
            <LampIndicator Label="E14_1"/>
            <LampIndicator Label="FA_RangeO2"/>
            <LampIndicator Label="Adapter_Inserted"/>
        </PanelBox>

        <PanelBox>
            <LampIndicator Label="30SB4"/>
            <LampIndicator Label="E57_1"/>
            <LampIndicator Label="30SB5"/>
            <LampIndicator Label="30SB6"/>
            <LampIndicator Label="30SA7_1"/>
            <LampIndicator Label="E58_1"/>
            <LampIndicator Label="30SA7_2"/>
            <LampIndicator Label="30SA9"/>
        </PanelBox>

        <PanelBox>
            <LampIndicator Label="32S5"/>
            <LampIndicator Label="32S6"/>
            <LampIndicator Label="32S7"/>
            <LampIndicator Label="PSW3_1"/>
            <LampIndicator Label="E64_1"/>
            <LampIndicator Label="28S2"/>
            <LampIndicator Label="E64_3"/>
            <LampIndicator Label="28S1"/>
        </PanelBox>

        <PanelBox>
            <LampIndicator Label="TCabinetOK"/>
            <LampIndicator Label="AlrLevel_OK"/>
            <LampIndicator Label="Trip_OK"/>
            <LampIndicator Label="Schuko_Inside"/>
            <LampIndicator Label="FA_ReqMaintenance"/>
            <LampIndicator Label="FA_RangeCO"/>
            <LampIndicator Label="FA_RangeCO2"/>
            <LampIndicator Label="FA_CalUltramat23"/>
        </PanelBox>

        <PanelBox>
            <LampIndicator Label="Adapter_NotInserted"/>
            <LampIndicator Label="Boiler_Blocage"/>
            <LampIndicator Label="Boiler_DeBlocage"/>
            <LampIndicator Label="PlateIn"/>
            <LampIndicator Label="E56_0"/>
            <LampIndicator Label="30SB2"/>
            <LampIndicator Label="30SB13"/>
            <LampIndicator Label="30SB3"/>
        </PanelBox>

        <PanelBox>
            <LampIndicator Label="30SB10"/>
            <LampIndicator Label="E59_1"/>
            <LampIndicator Label="E59_2"/>
            <LampIndicator Label="30SB11"/>
            <LampIndicator Label="E60_0"/>
            <LampIndicator Label="E60_1"/>
            <LampIndicator Label="32S4"/>
            <LampIndicator Label="32S3"/>
        </PanelBox>

        <PanelBox>
        </PanelBox>

    </div>
</div>
