.row-item {
    display: flex;
    justify-content: flex-end; /* Right aligned */
    align-items: center;
    margin-bottom: 8px;
}

.row-item span {
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-align: right;
    line-height: 1.1;
    margin-right: 8px; /* Space between text and lamp */
    white-space: nowrap; /* Single line text */
}

.lamp-img {
    width: 30px;
    height: 30px;
    display: block;
}