<div class="row-item">
    <span>@Label</span>
    
    <img src="images/RedLamp.png" 
         alt="Lamp" 
         class="lamp-img"/>
</div>

@code {
    [Parameter] public string Label { get; set; } = "";
}