.calc-grid {
    display: grid;
    grid-template-columns: repeat(3, 0.1fr);
    gap: 15px;
    padding-top: 35px;
    padding-left: 35px;
    font-family: 'Segoe UI', sans-serif;
}

.group-header {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
    margin-left: 5px;
}

.big-value {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}
