.errors-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 8px;
    gap: 8px;
}

.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
