@if (IsVisible)
{
    <div class="floating-error-panel" id="floating-error-panel" style="@PositionStyle">
        <div class="floating-error-header" @onmousedown="StartDrag">
            <h2 class="title">Ошибка @GetErrorSourceDisplay()</h2>
            <p class="subtitle">@DisplayStepName</p>
        </div>

        <div class="rows">
            <div class="row">
                <p class="description">
                    <span class="action">"Повтор"</span> для повтора шага
                </p>
                <div class="lamp-container">
                    <span class="lamp-label">Повтор</span>
                    <div class="lamp lamp-black"></div>
                </div>
            </div>

            <div class="row">
                <p class="description">
                    <span class="action">"Один шаг"</span> для перехода<br />
                    на следующий шаг
                </p>
                <div class="lamp-container">
                    <span class="lamp-label">Один шаг</span>
                    <div class="lamp lamp-green"></div>
                </div>
            </div>

            <div class="row">
                <p class="description">
                    <span class="action">"СТОП"</span> для отмены теста
                </p>
                <div class="lamp-container">
                    <span class="lamp-label">Стоп</span>
                    <div class="lamp lamp-red"></div>
                </div>
            </div>
        </div>
    </div>
}
