<div class="stand-database-container">
    <div class="tabs-shell">
        <RadzenTabs RenderMode="TabRenderMode.Client" @bind-SelectedIndex="@_selectedIndex"
                    class="database-tabs">
            <Tabs>
                <RadzenTabsItem Text="Типы котлов">
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </div>
</div>
