@using Final_Test_Hybrid.Components.Engineer.StandDatabase.Recipe
@using Final_Test_Hybrid.Components.Engineer.StandDatabase.ResultSettings

<div class="stand-database-container">
    <div class="tabs-shell">
        <RadzenTabs RenderMode="TabRenderMode.Client" @bind-SelectedIndex="@_selectedIndex"
                    Change="@OnTabChanged"
                    class="database-tabs">
            <Tabs>
                <RadzenTabsItem Text="Типы котлов">
                    <BoilerTypesGrid OnDataChanged="@OnBoilerTypesChanged" />
                </RadzenTabsItem>
                <RadzenTabsItem Text="Рецепты">
                    <RecipesGrid @ref="_recipesGrid" />
                </RadzenTabsItem>
                <RadzenTabsItem Text="Настройки результатов">
                    <ResultSettingsTab @ref="_resultSettingsTab" />
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </div>
</div>
