.tab-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 8px;
    gap: 8px;
}

.grid-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.toolbar-buttons {
    display: flex;
    gap: 8px;
}

.record-count {
    font-size: 18px;
    font-weight: 500;
    color: black;
}

/* Кнопки в toolbar */
.toolbar-buttons ::deep .rz-button {
    font-size: 20px;
    padding: 12px 24px;
}
