<div class="checkbox-setting">
    <span class="checkbox-setting-label">Авторизация Админа по QR</span>
    <div class="checkbox-wrapper" @onclick="OnCheckboxClick">
        <RadzenCheckBox Value="@_useAdminQrAuth" />
    </div>
</div>
