<div class="engineering-container">
    <div class="button-stack">
        <!-- Hand Program: Hammer icon (Reddish) -->
        <RadzenButton Text="Hand Program" Icon="build" Class="eng-btn btn-icon-red" />
        
        <!-- IO Editor: Chip/Board icon (Greenish) -->
        <RadzenButton Text="IO Editor" Icon="memory" Class="eng-btn btn-icon-green" />
        
        <!-- AI & RTD Correction: Gauge icon -->
        <RadzenButton Text="AI & RTD Correction" Icon="speed" Class="eng-btn" />
        
        <!-- Disable Test Log: Checkmark icon (Green), Orange styling -->
        <RadzenButton Text="Disable Test Log" Icon="check_circle" Class="eng-btn active-orange btn-icon-green-bright" />
        
        <!-- Test Log Viewer: Pen/Paper icon -->
        <RadzenButton Text="Test Log Viewer" Icon="edit_note" Class="eng-btn" />
        
        <!-- Test Sequence Editor: List/Code icon -->
        <RadzenButton Text="Test Sequence Editor" Icon="playlist_add_check" Class="eng-btn" Click="@OpenTestSequenceEditor" />
        
        <!-- View Gas & DHW Charts: Chart icon -->
        <RadzenButton Text="View Gas & DHW Charts" Icon="show_chart" Class="eng-btn" />
    </div>

    <div class="language-selector">
        <span class="language-label">Language</span>
        <RadzenDropDown Data="@languages" @bind-Value="selectedLanguage" Style="width: 250px;" />
    </div>
</div>
