.checkbox-setting {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.checkbox-setting-label {
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.checkbox-wrapper {
    cursor: pointer;
}

::deep .rz-checkbox {
    transform: scale(1.5);
    pointer-events: none;
}

::deep .rz-checkbox .rz-chkbox-box {
    border-color: #1976d2 !important;
}

::deep .rz-checkbox.rz-state-checked .rz-chkbox-box {
    background-color: #1976d2 !important;
    border-color: #1976d2 !important;
}
