@using Final_Test_Hybrid.Services.Common.Settings

<div class="password-dialog">
    <RadzenPassword @bind-Value="_password" Placeholder="Введите пароль" Style="width: 100%;" />
    @if (_showError)
    {
        <div class="error-message">Неверный пароль</div>
    }
    <div class="dialog-buttons">
        <RadzenButton Text="OK" Click="@OnOk" ButtonStyle="ButtonStyle.Primary" />
        <RadzenButton Text="Отмена" Click="@OnCancel" ButtonStyle="ButtonStyle.Light" />
    </div>
</div>

@code {
    [Inject]
    public required AppSettingsService AppSettingsService { get; set; }
    [Inject]
    public required DialogService DialogService { get; set; }
    private string _password = string.Empty;
    private bool _showError;

    private void OnOk()
    {
        if (_password == AppSettingsService.EngineerPassword)
        {
            DialogService.Close(true);
        }
        else
        {
            _showError = true;
            _password = string.Empty;
        }
    }

    private void OnCancel()
    {
        DialogService.Close(false);
    }
}
