@implements IDisposable

<div class="switch-excel-export">
    <span class="switch-excel-export-label">Выгрузка в Excel</span>
    <div class="switch-wrapper" @onclick="OnSwitchClick">
        <RadzenCheckBox Value="@_exportEnabled" ReadOnly="true" Disabled="@IsDisabled" Style="transform: scale(1.5); transform-origin: center center;" />
    </div>
</div>
