.switch-mes {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.switch-mes-label {
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.switch-wrapper {
    cursor: pointer;
}

::deep .rz-switch {
    transform: scale(1.3);
    pointer-events: none;
    opacity: 1 !important;
}

::deep .rz-switch.rz-switch-checked .rz-switch-circle {
    background-color: #1976d2 !important;
}

::deep .rz-switch.rz-switch-checked .rz-switch-bar {
    background-color: #64b5f6 !important;
}
