<div class="switch-mes">
    <span class="switch-mes-label">Работа с MES</span>
    <div class="switch-wrapper" @onclick="OnSwitchClick">
        <RadzenSwitch Value="@_useMes" Disabled="true" />
    </div>
</div>
