<div class="switch-mes">
    <span class="switch-mes-label">Работа с MES</span>
    <div class="switch-wrapper" @onclick="OnSwitchClick">
        <RadzenCheckBox Value="@_useMes" />
    </div>
</div>
